html, body {
	margin: 0;
	padding: 0;
	background-color: #020203;
	color: #687F9C;
	font-family: 'Ubuntu';
}
#map {
	width: 43%;
	height: 75%;
	margin-left: 55%;
	position: absolute;
}
#left {
	margin-left: 2%;
	width: 52%;
	float: left
}
.linkOFF span {
	color: #687F9C;
}
.linkON span {
	color: #132033;
	background-color: #697E9C;
	cursor: pointer;
}
.results {
	margin-top: 1em;
	padding-left: 4%;
}
h2 {
	padding-left: 2%;
	margin-top: 0%;
}
h3 {
	padding-left: 2%;
}
.searchForm {
	margin-bottom: 5%;
	padding-left: 2%;
}
h1 {
	margin-left: 2%;
	margin-right: 2%;
	background-color: #132033;
	padding-left: 10px;
}
h6 {
	clear: both;
	text-align: right;
	margin-top: 0%;
	margin-right: 2%;
}
h6 > a {
	color: inherit;
	text-decoration: none;
}
hr {
	margin-left: 2%;
	margin-right: 2%;
	border-color: #132033;
	margin-top: 39%;
}
