html, body {
    margin: 0;
    padding: 0;
    background-color: #020203;
    color: #687F9C;
    font-family: 'Ubuntu', sans-serif;
    height: 95%;
}

header {
    background-color: #132033;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

h1 {
    padding-left: 2%;
}

footer {
    text-align: center;
}

small > a {
    color: inherit;
    text-decoration: none;
}

hr {
    border-color: #132033;
}

#map {
    height: 100%;
}

.linkOFF span {
    color: #687F9C;
}

.linkON span {
    color: #132033;
    background-color: #697E9C;
    cursor: pointer;
}

.results {
    margin-top: 1em;
    padding-left: 2%;
}

.searchForm {
    padding-left: 2%;
    margin-bottom: 4%;
}

.container {
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
    height: 92%;
}

.grid {
    display: inline;
    float: left;
    position: relative;
    margin-left: 1%;
    margin-right: 1%;
    height: 100%;
    width: 48.0%;
    overflow: auto;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}